/* объект {
    свойство: значение
} */
/* обращение к тэгу */
body{
    color: black;
    background-color: rgb(94, 94, 144);
}
/* обращение к классу */
.link,.item--list{
    left: 0;
    color: black;
    text-decoration: none;
    font-size: 34px;
    font-weight: 700;
}
/*  обращение к id */
#text{
    color: rgb(99, 41, 0);
}
p {
    color: chocolate;
}

.block > .link{
    color: aqua;
}
/*  */